<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<hr>

<strong> Comments: </strong>

<div id="comments">
  <% @book.comments.each do |comment| %>
  <p> <%= comment.body %>
    <% end %>
    </div>
    
    <%= form_for(Comment.new) do |f| %>
    <%= f.hidden_field :book_id, value: @book.id %>
<p>
  <hr>
  <%= f.label :comment, "Add comment:" %><br/>
    <%= f.text_area :body %>
  </p>
<p><%= f.submit "Add Comment" %></p>
  <% end %>




<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
